{# vim: set syntax=htmldjango: #}
{% extends "exordium/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block body %}
<table class="album_info">
    <tr>
        <td class="album_art_cell">
{% if album.art_filename and album.art_filename != '' %}<a href="{% url 'exordium:origalbumart' album.pk album.art_ext %}"><img src="{% url 'exordium:albumart' album.pk 'album' %}" border="0"/></a>{% else %}<img src="{% static 'exordium/no_album_art.png' %}">{% endif %}
        </td>
        <td class="album_info_cell">
<p>Artist: <strong><a href="{% url 'exordium:artist' album.artist.pk %}">{{ album.artist }}</a></strong></p>

{% for artist in groups %}
{% if forloop.first %}<p>Ensemble{{ groups|pluralize }}: {% endif %}
<strong><a href="{% url 'exordium:artist' artist.pk %}">{{ artist }}</a></strong>{% if not forloop.last %},{% endif %}
{% if forloop.last %}</p>{% endif %}
{% endfor %}

{% for artist in conductors %}
{% if forloop.first %}<p>Conductor{{ conductors|pluralize }}: {% endif %}
<strong><a href="{% url 'exordium:artist' artist.pk %}">{{ artist }}</a></strong>{% if not forloop.last %},{% endif %}
{% if forloop.last %}</p>{% endif %}
{% endfor %}

{% for artist in composers %}
{% if forloop.first %}<p>Composer{{ composers|pluralize }}: {% endif %}
<strong><a href="{% url 'exordium:artist' artist.pk %}">{{ artist }}</a></strong>{% if not forloop.last %},{% endif %}
{% if forloop.last %}</p>{% endif %}
{% endfor %}

<p>Album: <strong>{{ album }}</strong></p>
{% if album.year != 0 %}<p>Year: <strong>{{ album.year }}</strong></p>{% endif %}

<p>Tracks: <strong>{{ album.song_set.count }}</strong></p>

<p>Length: <strong>{{ album.get_total_time_str }}</strong></p>

<p>Added on: <strong>{{ album.time_added }}</strong></p>

</td>
</tr>
</table>

{% render_table songs %}
{% endblock %}
