{# vim: set syntax=htmldjango: #}
{% extends "exordium/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block body %}
{% if album.art_filename and album.art_filename != '' %}<a href="{% url 'exordium:origalbumart' album.pk album.art_ext %}"><img src="{% url 'exordium:albumart' album.pk 'album' %}" border="0"/></a>{% else %}<img src="{% static 'exordium/no_album_art.png' %}">{% endif %}
<p>Artist: <strong><a href="{% url 'exordium:artist' album.artist.pk %}">{{ album.artist }}</a></strong></p>
<p>Album: <strong>{{ album }}</strong></p>
<p>Year: <strong>{{ album.year }}</strong></p>
{% render_table songs %}
{% endblock %}
