{# vim: set syntax=htmldjango: #}
{% extends "exordium/base.html" %}

{% block body %}
<p><strong>Processing Library...</strong></p>
<blockquote class="library_update">
    {% for status, line in library_results %}
        {% if status == 'error' %}<span class="red">{{ line }}</span>
        {% elif status == 'success' %}<span class="green">{{ line }}</span>
        {% elif status == 'info' %}{{ line }}{% endif %}<br />
    {% endfor %}
</blockquote>
<p><a href="{% url 'exordium:library' %}">Back to library management</a></p>
{% endblock %}
