{# vim: set syntax=htmldjango: #}
<a href="{% url 'exordium:artist' record.artist.pk %}">{{ record.artist }}</a>{% if record.group and record.num_groups != 1%},
Ensemble: <a href="{% url 'exordium:artist' record.group.pk %}">{{ record.group }}</a>{% endif %}{% if record.conductor and record.num_conductors != 1%},
Conductor: <a href="{% url 'exordium:artist' record.conductor.pk %}">{{ record.conductor }}</a>{% endif %}{% if record.composer and record.num_composers != 1 %},
Composer: <a href="{% url 'exordium:artist' record.composer.pk %}">{{ record.composer }}</a>{% endif %}
