include LICENSE*
include README.rst
include CHANGELOG.rst
include TODO.txt
include requirements.txt
recursive-include exordium/static *
recursive-include exordium/fixtures *
recursive-include exordium/testdata *
recursive-include exordium/templates *
recursive-include docs *
exclude docs/sync_to_apocalyptech.sh
prune docs/_build
