BODY {
    color: black;
    font-family: Verdana, Arial, Helvetica;
}
.sidebar {
    background: #ccc;
    border: 1px solid black;
    width: 200px;
    float: left;
    padding: .5em;
}
.body {
    margin-left: 230px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.library_update {
    font-size: smaller;
}
.adminlinks {
    font-size: smaller;
}
h1 {
    margin-top: 0px;
}
.searchform {
    width: 100%;
}
.album_info {
    margin-bottom: 1em;
}
.album_info tr td {
    padding: 1em;
}

.album_info_cell {
    vertical-align: top;
}
#albumtable .tracks, #albumtable .time, #albumtable .year {
    text-align: center;
}
#songtable .tracks, #songtable .albums {
    text-align: center;
}
